* {
    margin: 0px;
    padding: 0px;
}



body{
	background: linear-gradient(orange,lightgreen);
}

.bounding-box{
    position: center;
    width: 450px;
    height: 450px;
    background: none;
    margin: 450px;
}

.bounding-box:hover {

	transition: all 700ms ease;
	transform: skewX(-15deg);

	}